<%= div_for comment do %>
	<h2><%= comment.name %></h2>
	<p><%= simple_format(comment.content) %></p>
	<div align="right"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></div>
	<hr class="style-two">
<% end %>
