<li>
	<span class="title"><%= article.title %></span><br>
	<span class="content"><%= article.content %></span><br>
	<span class="timestamp">
		Posted <%= time_ago_in_words(article.created_at) %> ago.
	</span>
	
	 <%= link_to "削除", article, method: :delete,
	 																data: { confirm: "Are You Sure?"},
	 																title: article.content %>
  
</li>