<div class="articlenew">
	<h3>新規作成</h3>
	<div align="center">
<p>*サーバー側の問題で、画像がアップロードできなくなっていました。
画像があればこちらの<a href="mailto:sj0017vk&#64;ed.ritsumei.ac.jp">アドレス</a>まで送信お願いします。*</p>
</div>

	<%= render 'form' %>

	<%= link_to 'Back', users_path %>
</div>