@import "bootstrap";

html{
  overflow-y: scroll;
}

body{
  padding-top: 60px;
}

.feed{
  //border: solid 5px #e8e8ff; 
  width: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.row {
  display: block;
  margin-top: 0px;
}

.pagination{
  margin: 3px;
  padding: 3px;
  //border: solid 2px #FF9900;
}

.newsfeed{
  border-left: solid 5px #FF9900;
  padding: 0px 10px;
  //margin: 0px;
  width: 900px;
  //border-bottom: solid 2px #FF9900;
}
.time{
  text-align: right;
  margin-top: 0px;
}
.enterform{
  background-color: #e8e8ff;
  padding: 30px;
  margin-right: 230px;
  margin-left: 230px;
}
section{
  overtflow-y: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
  h1{
    margin-bottom: 0px;
  }
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  clear: both;
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
}

.loginform {

  padding: 5px;
}

/* typography*/

$lightGray: #999;

h1,h2,h3,h4,h5,h6{
  line-height: 1;
}

hr.style-one{
  height: 10px;
  border: 0px;
  box-shadow: inset 0 10px 10px -12px rgba(0,0,0,0.5);
  margin-top: 5px;
}

hr.style-two{
  margin: 0px 0px;
  border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-three{
  width: 400px;
  margin: 0px;
  border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  padding-top: 0px;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: normal;
  color: #999;
}

h3{
  border-left: solid 5px #FF9900;
  background-color: #FFFFCC;
  padding: 5px 10px;
}

.attention{
  text-align: left;
  border-left: solid 8px #349FA6;
  background-color: #FFFFCC;
  width: 400px;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

.saito {
  margin: 5px;
  width: 170px;
  height: 200px;
}

.okano{
  margin: 5px;
  width: 200px;
  height: 200px;
}

.shirota{
  margin: 5px;
  width: 250px;
  height: 200px;
}

.yamazaki {
  margin: 5px;
  width: 250px;
  height: 200px;
}
.yamamoto{
  margin: 5px;
  width: 350px;
  height: 300px;
}




/*header*/

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover{
    color: orange;
    text-decoration: none;
  }
}

/*articles*/


.title {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}
.articles {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #6bb;
  }
}
.content {
  display: block;
}
.timestamp {
  text-align: left;
  color: black;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
